.black {
  background-color: #2F303A;
  color: white;
  text-transform: none; 
}

footer {
  background-color: #2F303A;
  color: white;
  text-transform: none; 
}

button {
  background-color: #2196F3;
  color: white;
  text-transform: none; 
}

.blue {
  color: #2196F3;
}

.black2 {
  color: black;
}

.blue2 {
  color: #2196F3;
}

.white {
  color: white;
}

.center {
  text-align: center;
}

.footer-link {
  color: inherit;
}



  